<footer class="footer">
    <span class="footer__copyright"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></span>
    <span class="footer__copyright"><a href="http://uno.daleanthony.com" title="lien vers le site de page pour le theme Uno">Uno theme</a> par <a href="http://daleanthony.com" title="lien vers le site de Dale-Anthony">Dale-Anthony</a>, modifié par <a href="https://twitter.com/GoOz" title="lien vers le twitter de GoOz">GoOz</a></span>
    <span class="footer__copyright"><a href="http://ghost.org" title="lien vers le site de Ghost">Ghost</a> <abbr title="For The Win">FTW</abbr></span>
</footer>