{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">


    <!-- Twitter -->
    <li class="navigation__item">
      <a href="http://twitter.com/GoOz" title="@GoOz sur Twitter">
        <i class='icon icon-social-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>

    <!-- 500px -->
    <li class="navigation__item">
      <a href="http://500px.com/CycoGoOz" title="GoOz sur 500px">
        <i class='icon icon-social-500px'></i>
        <span class="label">500px</span>
      </a>
    </li>

    <!-- Instagram -->
    <li class="navigation__item">
      <a href="http://instagram.com/GoOz" title="GoOz sur Instagram">
        <i class='icon icon-social-instagram'></i>
        <span class="label">Instagram</span>
      </a>
    </li>

    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/GoOz" title="GoOz sur Github">
        <i class='icon icon-social-github'></i>
        <span class="label">Github</span>
      </a>
    </li>

    <!-- DaBloOg -->
    <li class="navigation__item">
        <a href="http://www.dabloog.com" title="lien vers dabloog.com" class="blog-button">
            <i class="icon icon-skull"></i>
            <span class="label">DaBloOg</span>
        </a>
    </li>

    <!-- BloOgArt -->
    <li class="navigation__item">
        <a href="http://www.bloogart.com" title="lien vers bloogart.com" class="blog-button">
            <i class="icon icon-camera"></i>
            <span class="label">BloOgArt</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/rss/" title="Subscribe">
        <i class='icon icon-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>

  </ul>
</nav>
