/**
  * CSS Variables
  *
  * All default css variables are stored here
  * https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
  *
  * Tips: Use this website to name your color and therefore your variable -> http://chir.ag/projects/name-that-color/
  */

:root {
  /* Basic colors */
  --bright: #FFF;
  --dark: #000;
  --error: #FF0000;

  /* Fonts */
  --helvetica-r: 'Helvetica-Neue-Regular', sans-serif;
}
