{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div class="inner">

    <div class="feed">
        {{!-- Get the 3 most recent posts --}}
        <div class="feature">
            <div class="feature-block">
                {{#get "posts" limit="3" include="tags"}}
                    {{#foreach posts}}
                        {{> "feature-post"}}
                    {{/foreach}}
                {{/get}}
            </div>
            <h2 class="feature-block-title">Latest posts</h2>
        </div>

        {{!-- Get up to 3 featured posts on each tag --}}
        {{!-- {{#foreach tags}}
            <div class="block-feature tag—{{slug}}">
                {{#get "posts" filter="tags:{{slug}}+featured:true" limit="3" as |related_posts| }}
                    {{#if related_posts}}
                        {{#foreach posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                        <h2 class="feature-title">{{name}}</h2>
                    {{/if}}
                {{/get}}
            </div>
        {{/foreach}} --}}
    </div>

</div>
