{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<div class="inner">
    {{#tag}}
        <h1 class="post-title">
            {{name}}
        </h1>
        {{#if description}}
            <h2 class="post-description">
                {{description}}
            </h2>
        {{/if}}
    {{/tag}}
    <div class="feed">
        <div class="posts-block posts-block--{{tag.slug}}">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</div>