/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Subscribe Form
  7.2. Post Footer
     7.2.1 Single Author Byline
     7.2.2 Multiple Author Byline
  7.3. Comments
  7.4. Related Posts
  7.5. Floating Header
  7.6. Koenig Styles
8.  Author Template
9.  Error Template
10. Subscribe Overlay

*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "global.css";

html, body {
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--lightgrey);
    font-size: 1.6rem;
    color: var(--darkgrey);
}

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */
.site-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
}

.site-main {
    flex: 1 1 auto;
    order: 1;
    overflow: auto;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 4vw;
}

/* Centered content container blocks */
.inner {
    margin: 0 auto;
    max-width: 118rem;
    width: 100%;
}

/* 3. Special Template Styles
/* ---------------------------------------------------------- */
.feature-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3.2rem 0 0;
}

.feature-block-title {
    margin-top: 0;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.feature-post {
    flex: 1 1 auto;
    height:40vw;
    position: relative;
    overflow: hidden;
    margin: 0 .8rem 1.6rem;
    background-color: var(--midgrey);
}

.feature-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.feature-image {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: rgba(0, 0, 0, .7);
    padding: .8rem 1.6rem;
    color: white;
    transition: ease all 600ms;
}

.feature-link:hover .feature-content,
.feature-link:focus .feature-content {
    bottom: 0;
}

.feature-title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-tag {
    font-weight: light;
    font-size: 1.4rem;
    font-style: italic;
}

.feature-excerpt {
    margin: .8rem 0 0;
    font-size: 1.4rem;
    line-height: 1.3;
}

.feature-excerpt p {
    margin: 0;
}

@media (max-width: 768px) {
    .feature-block {
        flex-wrap: wrap;
    }
    .feature-post {
        min-width: calc(50% - 1.6rem);
    }
}

@media (max-width: 480px) {
    .feature-post {
        min-width: calc(100% - 1.6rem);
    }
}

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    flex: 0 1 auto;
    padding: 1.6rem;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
}

.site-header-title {
    margin: 0;
    font-size: 2.6rem;
    line-height: 3.2rem;
}

.site-header-logo {
    color: var(--darkgrey);
    text-decoration: none;
}

.site-header-logo img {
    max-height: 3.2rem;
}

.site-header-desc {
    margin: 1.6rem 0 0;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* 5. Site Navigation
/* ---------------------------------------------------------- */
.site-nav {
    position: relative;
    flex: 0 1 auto;
    order: 2;
    padding: 0 .8rem;
    background-color: white;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    overflow-x: auto;
}

.nav [class^="nav-"] {
    margin: .4rem .8rem;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav a {
    border: 2px solid transparent;
    padding: .2rem .8rem;
    color: var(--darkgrey);
    text-decoration: none;
    line-height: 1.6rem;
}

.nav a:hover,
.nav a:focus {
    border: 2px solid var(--midgrey);
}

.nav-icon a {
    padding: 0;
    border: 0;
}

.nav-icon a:hover,
.nav-icon a:focus {
    border: 0;
}

.nav-current a {
    border: 2px solid var(--darkgrey);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: var(--darkgrey);
}

.social-link svg {
    height: 1.8rem;
    fill: var(--darkgrey);
}

.social-link:hover svg,
.social-link:focus svg {
    fill: var(--midgrey);
}

.social-link-fb svg {
    height: 1.5rem;
}

.social-link-wb svg {
    height: 1.6rem;
}

.social-link-wb svg path {
    stroke: var(--darkgrey);
}

.social-link-rss svg {
    height: 1.9rem;
}

@media (max-width: 768)
