/*  ======================================================
    Utility classes
    ======================================================  */
/* Clearing floats */
.u-clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.u-clear {
  clear: both;
}
/* Visually hidden but still readable by screen readers */
.u-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: .06rem;
  width: .06rem;
  margin: -.06rem;
  padding: 0;
  border: 0;
}

/* Big element */
.u-big {
  margin: 1rem;
  font-size: 1.5em;
}

/* Simulated strong element */
.u-strong {
  font-size: 1.1em;
  font-weight: normal;
}

/* Simulated strong element */
.u-italic {
  font-style: italic;
}

/* Inline-block display */
.u-ib {
  display: inline-block;
}

/* Prevent wrapping where it shouldn't happen */
.u-nowrap {
  white-space: nowrap;
}

/* Prevent elements to go offset */
.u-crop {
  overflow: hidden;
}

/* Inline list without list-style */
.u-unlist {
  padding: 0;
  list-style: none;

  & > li {
    display: inline-block;
  }
}

/* Block list without list-style */
.u-list {
  padding: 0;
  list-style: none;
}

/* Margins */
.u-nomargin {
  margin: 0 !important;
}
.u-mt0 {
  margin-top: 0;
}
.u-mb0 {
  margin-bottom: 0;
}
.u-ml0 {
  margin-left: 0;
}
.u-mr0 {
  margin-right: 0;
}
.u-mt-half {
  margin-top: .5rem;
}
.u-mb-half {
  margin-bottom: .5rem;
}
.u-ml-half {
  margin-left: .5rem;
}
.u-mr-half {
  margin-right: .5rem;
}
.u-mt1 {
  margin-top: 1rem;
}
.u-mb1 {
  margin-bottom: 1rem;
}
.u-ml1 {
  margin-left: 1rem;
}
.u-mr1 {
  margin-right: 1rem;
}
.u-mt2 {
  margin-top: 2rem;
}
.u-mb2 {
  margin-bottom: 2rem;
}
.u-ml2 {
  margin-left: 2rem;
}
.u-mr2 {
  margin-right: 2rem;
}
.u-mt3 {
  margin-top: 3rem;
}
.u-mb3 {
  margin-bottom: 3rem;
}
.u-ml3 {
  margin-left: 3rem;
}
.u-mr3 {
  margin-right: 3rem;
}

/* Paddings */
.u-nopad {
  padding: 0 !important;
}
.u-pt0 {
  padding-top: 0;
}
.u-pb0 {
  padding-bottom: 0;
}
.u-pl0 {
  padding-left: 0;
}
.u-pr0 {
  padding-right: 0;
}
.u-pt-half {
  padding-top: .5rem;
}
.u-pb-half {
  padding-bottom: .5rem;
}
.u-pl-half {
  padding-left: .5rem;
}
.u-pr-half {
  padding-right: .5rem;
}
.u-pt1 {
  padding-top: 1rem;
}
.u-pb1 {
  padding-bottom: 1rem;
}
.u-pl1 {
  padding-left: 1rem;
}
.u-pr1 {
  padding-right: 1rem;
}
.u-pt2 {
  padding-top: 2rem;
}
.u-pb2 {
  padding-bottom: 2rem;
}
.u-pl2 {
  padding-left: 2rem;
}
.u-pr2 {
  padding-right: 2rem;
}
.u-pt3 {
  padding-top: 3rem;
}
.u-pb3 {
  padding-bottom: 3rem;
}
.u-pl3 {
  padding-left: 3rem;
}
.u-pr3 {
  padding-right: 3rem;
}

/* Align center */
.u-center {
  margin: 0 auto;
  text-align: center;
}
/* Align left */
.u-left {
  text-align: left;
}
/* Align right */
.u-right {
  text-align: right;
}

/* Icons SVG*/
.icons {
  display: none;
}
